<div style="background-color: rgb(28, 26, 26);" class="text-white" >
<h3 class="display-4 mb-5 font-weight-bold ml-5" style="text-align: center;">{{title}}</h3>
<div class="search-div mt-0">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="search-input" placeholder="Search Products"  type = "text" name="search" [(ngModel)]="searchTerm" style="width:50%; height:30px; background-color: rgb(87, 85, 85); color : rgb(251, 249, 249);">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <select (change)="sortProductByPrice($event.target)" style="background-color: rgb(87, 85, 85);">
    <option selected value="undefined" disabled>Sort By</option>
    <option value="l2h">Price: Low to High</option>
    <option value="h2l">Price: High to Low</option>
  </select>
</div>
<div class="row container" >
<div class="column box"style="background-color: rgb(28, 25, 25) ;" *ngFor="let productInfo of page?.content | filter:searchTerm " >
    <div class="product-image"><img src="{{productInfo.productIcon}}" height="100%" width="290px"/></div>
    <br>
    <div class="d-flex flex-row mb-1" style="font-size:14px;">{{productInfo.productName}}</div>
    <div class="text-truncate mb-4 mb-md-0 align-items-left" style="font-size: 12px;">
    <p >Stock : {{productInfo.productStock}}</p>
  </div>
  <br/>
      <div class="d-flex flex-row mb-1">
        <p class="col-md-6 col-lg-6 col-xl-6" style="font-size: 10px;">Rs. {{productInfo.productPrice}}</p>
      </div>
      <div class="d-flex mt-4">
        <button routerLink="/product/{{productInfo.productId}}" *ngIf="productInfo.productStatus == 0; else offBlock" class="btn btn-outline-warning btn-lg mt-2" type="button">
          Add to cart
        </button>
        <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
      </div>
    
    <hr>
</div>
</div>
<app-pagination  [currentPage]="page" ></app-pagination>